apiVersion: apps/v1
kind: Deployment
metadata:
  name: byparr
  labels:
    app: byparr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: byparr
  template:
    metadata:
      labels:
        app: byparr
    spec:
      dnsConfig: # DNS resolver workaround
        options:
          - name: ndots
            value: "1"
      containers:
      - name: byparr
        image: ghcr.io/thephaseless/byparr:latest
        ports:
          - containerPort: 8191
        volumeMounts:
          - name: cache-volume
            mountPath: /app/cache
          - name: shm
            mountPath: /dev/shm
        securityContext:
          runAsNonRoot: false
          allowPrivilegeEscalation: true
          capabilities:
            add:
              - SYS_ADMIN
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"

      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: byparr-pvc
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 512Mi

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
