apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  labels:
    app: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      dnsConfig: # DNS resolver workaround
        options:
          - name: ndots
            value: "1"
      containers:
      - name: prowlarr
        image: lscr.io/linuxserver/prowlarr:2.3.2.5245-ls160 # check in https://docs.linuxserver.io/images/docker-prowlarr/#usage
        ports:
          - containerPort: 9696
        env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
        volumeMounts:
            - name: config-volume
              mountPath: /config
            # TODO /downloads and /tv

      volumes:
        - name: config-volume
          persistentVolumeClaim:
            claimName: prowlarr-pvc

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
