apiVersion: v1
kind: Service
metadata:
  name: discordamus
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: discordamus
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
