apiVersion: v1
kind: Service
metadata:
  name: rawclip-web
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    app: rawclip-web
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
